#Database
ADDRESS=localhost
DATABASE=gitlabhq_production
USERNAME=root
PASSWORD=12345678
DB_MODE=CLIENT
POLL_INTERVAL=1
MAX_RUNNING=3

CONF_PATH=/home/git/conf/
RESULT_PATH=/home/git/res/
REPO_PATH=/home/git/repositories/
CODEFACE_PATH=/home/git/codeface/
